body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 375px;
    height: 660px;
    background-color: #E5E5E5;
   
}
header {
    width: 375px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 26px;
    
}

header img {
    margin-left: 22px;
}
header ion-icon {
margin-right: 22px;
    font-size: 40px;
}



.entra-sala {
    background-color: #DCDCDC;
}

.mensagem-todos {
    background-color: #ffffff;
}

.mensagem-reservada {
    background-color: #FFDEDE;
}
.sai-sala {
    background-color: #DCDCDC;
}


footer {
    width:375px;
    height: 80px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items:center;
}

footer h1 {
    margin-left: 22px;
    font-style: italic;
}
footer ion-icon{
    font-size: 40px;
    margin-right: 22px;
}