body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 375px;
    height: 660px;
    background-color: #E5E5E5;
    overflow: hidden;
   
}
header {
    width: 375px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 26px;
    position: fixed;
}

header img {
    margin-left: 22px;
}
header ion-icon {
margin-right: 22px;
    font-size: 40px;
}

.chat {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    size: 14px;

   
}
.from {
    
    margin-left: 8px;
}
strong {
 font-weight: bold;
}
.time {
    margin-left: 8px;
    color: #aaaaaa;
}

.text {
    margin-left: 8px;
   
}

.status {
    display:flex;
    background-color: #DCDCDC;
    word-break: break-word; 
    align-items: center;
    width: 375px;
    height: 40px;
    margin-bottom: 4px ;
   
}

.message {
    background-color: #ffffff;
}

.mensagem-reservada {
    background-color: #FFDEDE;
}



footer {
    width:375px;
    height: 80px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items:center;
    /*position: fixed; */
    z-index: 2;
}

input {
    outline: 0;
    border: 0 none;
    font-style: italic;
}
input::placeholder {
    color:black;
}

footer h1 {
    margin-left: 22px;
    font-style: italic;
}
footer ion-icon{
    font-size: 40px;
    margin-right: 22px;
}


/*.scrollIntoView({behavior: "smooth"});*/